
/*Element Selectors*/

body {
  font-size: 1em;
  margin: 0px auto;
  padding: 0;
  font-family: 'Noto Sans', 'Montserrat', Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: #6A8347; /*Former color 2C6700*/
  width: 1150px;
}

li {
  list-style-type: square;
}

h1 {
  color: #2C6700;
}

a {
  color: #2C6700;
  text-decoration: none;
}

.sitenav a,
.comicnav a {
  font-weight: bold;
  display: inline-block;
}

/*Wrappers*/

.masterwrapper {
  background-color: #FEFCD7;
  margin: 0 auto;
  padding-top: 1%;
  /*border: #E5E4D7 solid 1px;*/
}

.headerwrapper {
  max-width: 75%;
  text-align: center;
  margin: auto;
}

.contentwrapper {
  margin: 5% 0;
  background-color: #E5E4D7;
  border-bottom: #6A8347 solid 10px;
}

.comicwrapper {
  border-top: #6A8347 solid 10px;
  padding: 20px 0 0 0;
  margin: -50px auto 0;
}

/*Header*/

.header {
  margin-bottom: -24px;
}

#logo {
  max-width: 27%;
  display: inline-block;
  padding-bottom: 5px;
}

#banner {
  max-width: 60%;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right;
}

#topsitenav {
  float: right;
  padding: 0 20px;
  margin: -27px 0 0 0;
}

#topsitenav a {
    background-color: #2C6700;
    /*border: solid black 2px;*/
    padding: 9px;
    color: #E5E4D7;
}

#topsitenav a:hover {
  background-color: #6A8347;
  /*border: solid black 2px;*/
  padding: 9px;
  color: #E5E4D7;
}

/*Comic*/

.comic {
  max-width: 80%;
  margin: 0 auto;
}

.mobilecomic {
  display: none;
}

.comicnav a {
  width: 79px;
  height: 79px;
  background-size: 90%;
  margin: 0 2%;
  padding: 0;
}

.first {
  background: transparent url("img/firstgreen.png") no-repeat scroll 50% 50%;
}

.prev {
  background: transparent url("img/prevgreen.png") no-repeat scroll 50% 50%;
}

.archive {
  background: transparent url("img/archivegreen.png") no-repeat scroll 50% 50%;
}

.next {
  background: transparent url("img/nextgreen.png") no-repeat scroll 50% 50%;
}

.last {
  background: transparent url("img/lastgreen.png") no-repeat scroll 50% 50%;
}

/*Bottom Content*/

.secondarycontent {
  max-width: 45%;
  margin: 0 1% 0 1%;
  padding: 1%;
}

#comments {
  margin-right: 0;
  margin-left: 5%;
  float: left;
  text-align: left;
}

#commenttitle {
  line-height: 1rem;
}

#commentdate {
  font-weight: normal;
  font-size: .8em;
  line-height: .5em;
}

#bonus {
  margin-left: 0;
  margin-right: 5%;
  float: right;
  text-align: left;
}

#webcomiclist a:hover {
    border-bottom: #2C6700 solid 1px;
}

#bottomsitenav a {
  display: inline;
  margin: 0 20px;
}

#bottomsitenav a:hover {
    border-bottom: #2C6700 solid 2px;
}

.copyright {
  padding-bottom: 20px;
  margin-bottom: 0;
}


/*Other pages*/

.maincontent {
  border-top: #6A8347 solid 10px;
  text-align: left;
  padding: 20px 5% 5%;
  margin: -50px auto 0;
}

/*This red border is a temporary style to help see where things are on the page*/

/*div {
  border: solid red 1px;
}*/

/*Media Queries*/

@media (max-width:360px) {
  body {
    width: auto;
  }
  .sitenav a {
    display: none;
  }
  .header {
    margin: auto;
  }
  .comicwrapper {
    padding: 20px 0 0;
    margin: 0;
    border-top: #6A8347 solid 5px;
  }
  .contentwrapper {
    margin: 5% 0;
    background-color: #E5E4D7;
    border-bottom: #6A8347 solid 5px;
  }
  #logo,
  #banner {
    display: block;
    clear: both;
    margin: auto;
    padding: 0;
  }
  .secondarycontent {
    max-width: 90%;
    margin: 0 1% 0 1%;
    padding: 1%;
  }
  #comments {
    margin-right: 5%;
    margin-left: 5%;
    clear: both;
    text-align: left;
  }
  #commenttitle {
    line-height: 1rem;
    font-size: 1.25em;
  }
  #commentdate {
    font-weight: normal;
    font-size: .8em;
    line-height: .5em;
  }
  #bonus {
    display: none;
  }
  .comic {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .comicnav a {
    width: 39.5px;
    height: 39.5px;
    background-size: 90%;
    margin: 0 3%;
    padding: 7px;
  }
  .comicnav .archive {
    display: none;
  }
  #bottomsitenav a {
    display: inline;
    margin: 0 10px;
  }
  .standardcomic {
    display: none;
  }
  .mobilecomic {
    display: inline-block;
  }
}
